<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}">
<head>
	<title>Login</title>
	<script>
	function doLogin(){
		var formData = $("#userForm").serialize();
		
		$.ajax({
        	type : 'post',
			url : '/login',
			data : formData,
			success : function(data) {
				window.location.href='/index';
            },
            error : function(error){
            	alert('error');
            }
        });
		return false;
	}

	</script>
</head>
<div layout:fragment="content" id="main" class="wrapper style1">
	<div class="container">
		<header class="major">
			<h2>Login</h2>
			<p>로그인</p>
		</header>
    
	    <section>
	    	<p th:if="${error}" th:text="${error}"></p>
	    	<p th:if="${message}" th:text="${message}"></p>
	    	<form th:action="@{/login}" th:object="${userForm}" method="post">
				<div class="row gtr-uniform gtr-50">    
			        <label for="lab-name">ID</label>
					<div class="col-12 col-12-xsmall">
						<input type="text" th:field="*{username}" />
					</div>
					<label for="lab-password">Password</label>
					<div class="col-12 col-12-xsmall">
						<input type="password" th:field="*{password}" value="" />
					</div>	        
	        	
	        		<div class="col-12">
						<ul class="actions">
							<li><input type="submit" value="Sign In" class="primary" /></li>
						</ul>
					</div>
				</div>
			</form>
			<div class="row gtr-uniform gtr-50">
				<div class="col-12 col-12-medium">
					<p>회원가입 : <a href="/registration">registration</a></p>
					<p>관 리 자 : <a href="/create">create</a></p>					
				</div>
			</div>
		</section>
	</div>
</div>
</html>